body {
  background-color: #92A9BD;
}

hr {
  width: 15%;
  border-style: dotted none none;
  border-width: 10px;
  border-color: #8B4513;
}

h1 {
  color: #AEFEFF;
}

h3:hover {
  color: #072227;
}

.g {
  color: #AEFEFF
}

/*.gr {
  color: #4FBDBA
}

.gre {
  color: #35858B
}*/
.myimage{
  border-radius: 100%;
}
div{
  margin-right: 200px;
  margin-left: 200px;
}
