body {

    background-color: #ADD8E6;
  }
hr{
    width: 15%;
    border-style: dotted none none;
    border-width: 10px;
    border-color: #8B4513;
  }
h1{
  color: #20B2AA;


}
h3{
  color: #20B2AA;

}
